<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
	  <meta charset="UTF-8">
	  <meta http-equiv="X-UA-Compatible" content="IE=edge">
	  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	  <meta http-equiv="x-ua-compatible" content="ie=edge">
	  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
	  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	  <link rel="stylesheet" href="styles.css">
	  <title th:text="${pageTitle}">test</title>
</head>

<body>

	<nav th:replace="layouts/navbar :: navFragment">
	
	</nav>
			
			<div class="jumbotron text-center">
  				<h1>Toy Story</h1> 
  				<p ><span href="/disney">Home</span></p> 
			</div>
			
			<div class="container">
<!-- 							<table class="table table-striped"> -->
<!-- 					<thead> -->
<!-- 						<th>Name</th> -->
<!-- 						<th>Author</th> -->
<!-- 						<th>Image</th> -->
<!-- 					</thead> -->
					
<!-- 					<tbody> -->
<!-- 						<tr th:each="character: ${toyStoryCharacters}"> -->
<!-- 							<td th:text="${character.name}"></td> -->
<!-- 							<td th:text="${character.movie}"></td> -->
<!-- 							<td><img src="../static/images/woody.jpeg" th:src="@{/images/}+${character.image}"></img></td> -->
<!-- 						</tr> -->
<!-- 					</tbody> -->
					
					
					
<!-- 				</table> -->
				
				
				<br>
				
				<div class="row" >
				<div class="col-sm-4" th:each="character: ${toyStoryCharacters}">
					<div class="card" >
					<img class="card-img-top"  th:src="@{/images/}+${character.image}" alt="Card image" style="width:100%">
					<div class="card-body">
					  <h4 class="card-title" th:text="${character.name}">Lamb Rogan Josh</h4>
						<p class="card-text">Ingredients</p>
						<p class="card-text">75 g (2¾ oz) natural yoghurt<br>
							½-1 teaspoon cayenne pepper<br>
							2 teaspoons ground coriander<br>
							1½ teaspoons ground cumin<br>
							2 teaspoons garlic purée<br>
							2 teaspoons ginger purée<br>
							1 teaspoon paprika </p>
						<a href="#method1" class="btn btn-primary" data-toggle="collapse">More Info</a><br>
  							<div id="method1" class="collapse">
    							<br><p>1. To make the paste, in a mixer, blend together the coriander stalks, red chilli, ground spices and salt. Mix in the tomato purée.</p>

											<p>2. To cook the lamb, heat the oil in a large heavy-based casserole. Fry the cinnamon stick, cardamom pods, bay leaves and cloves for 2 minutes. Add the onion and lamb and fry for 4-5 minutes, stirring. Add the garlic and ginger and fry for 2 minutes.</p>

											<p>3. Add the spice paste and fry for another 2 minutes, stirring</p>

											<p>4. Add 400ml/14fl oz water, then cover with a lid and simmer for 40-50 minutes, until cooked. Stir in the yoghurt and cook for 10 minutes. Serve garnished with the fresh coriander leaves.</p>
  							</div>
					</div>
		  			</div>
		  			<br>
				</div>
				
		
			</div>
			
			



<!-- 	<footer id="myFooter"> -->
<!--         <div class="container"> -->
<!--             <div class="row"> -->
<!--                 <div class="col-sm-3"> -->
<!--                     <h5>Get started</h5> -->
<!--                     <ul> -->
<!--                         <li><a href="#">Home</a></li> -->
<!--                         <li><a href="#">Sign up</a></li> -->
<!--                         <li><a href="#">Downloads</a></li> -->
<!--                     </ul> -->
<!--                 </div> -->
<!--                 <div class="col-sm-3"> -->
<!--                     <h5>About us</h5> -->
<!--                     <ul> -->
<!--                         <li><a href="#">Company Information</a></li> -->
<!--                         <li><a href="#">Contact us</a></li> -->
<!--                         <li><a href="#">Reviews</a></li> -->
<!--                     </ul> -->
<!--                 </div> -->
<!--                 <div class="col-sm-3"> -->
<!--                     <h5>Support</h5> -->
<!--                     <ul> -->
<!--                         <li><a href="#">FAQ</a></li> -->
<!--                         <li><a href="#">Help desk</a></li> -->
<!--                         <li><a href="#">Forums</a></li> -->
<!--                     </ul> -->
<!--                 </div> -->
<!--                 <div class="col-sm-3"> -->
<!--                     <h5>Legal</h5> -->
<!--                     <ul> -->
<!--                         <li><a href="#">Terms of Service</a></li> -->
<!--                         <li><a href="#">Terms of Use</a></li> -->
<!--                         <li><a href="#">Privacy Policy</a></li> -->
<!--                     </ul> -->
<!--                 </div> -->
<!--             </div> -->

<!--         </div> -->
<!--         <div class="social-networks"> -->
<!--             <a href="#" class="twitter"><i class="fa fa-twitter"></i></a> -->
<!--             <a href="#" class="facebook"><i class="fa fa-facebook"></i></a> -->
<!--             <a href="#" class="google"><i class="fa fa-google-plus"></i></a> -->
<!--         </div> -->
<!--         <div class="footer-copyright"> -->
<!--             <p>© 2018 FutWiz </p> -->
<!--         </div> -->
<!--     </footer> -->


		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>

</html>